@import "./reset.css";
@import "./vars";

$bg: #111;
$textColor: #f6f6f6;
$titleColor: #f6f6f6;

html {
  font-size: 16px;
  user-select: none;

  @include medium {
    font-size: 18px;
  }

  @include large {
    font-size: 20px;
  }
}

body {
  background-color: $bg;
  color: $textColor;
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  //position: absolute;
}

.invert-sheme {
  background-color: #fff;
  color: $bg;
}

.corners {
  border-radius: 0.5rem;
}

.reveal {
  visibility: hidden;
}

.wrapper {
  margin: auto;
  max-width: $lg;
}

.mx1 {
  margin-right: 1rem;
  margin-left: 1rem;
}

.mx2 {
  margin-right: 2rem;
  margin-left: 2rem;
}

.px1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.py2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.mt1 {
  margin-top: 1rem;
}

.mt2 {
  margin-top: 2rem;
}

.mt4 {
  margin-top: 4rem;
}

.mb1 {
  margin-bottom: 1rem;
}

.mb2 {
  margin-bottom: 2rem;
}

.mb4 {
  margin-bottom: 4rem;
}

.text-center {
  text-align: center;
}

.nowrap {
  white-space: nowrap;
  overflow: hidden;
  position: relative;

  &:after {
    pointer-events: none;
    content: "";
    display: block;
    position: absolute;
    background: linear-gradient(90deg, transparent, $bg);
    //background-color: red;
    top: 0;
    right: 0;
    height: 100%;
    width: 1rem;
  }
}

.title1,
.title2,
.title3,
.title4 {
  font-weight: 800;
}

.emoji,
.icon {
  height: 1rem;
  display: inline-block;
}

.title1,
.text1 {
  line-height: normal;
  font-size: 4.5rem;

  .emoji,
  .icon {
    height: 4.5rem;
  }

  @include medium {
    font-size: 7rem;

    .emoji,
    .icon {
      height: 7rem;
    }
  }

  @include large {
    font-size: 8rem;

    .emoji,
    .icon {
      height: 8rem;
    }
  }
}

.title2,
.text2 {
  font-size: 2.5rem;

  .emoji,
  .icon {
    height: 2.5rem;
  }
}

.title3,
.text3 {
  font-size: 1.5rem;

  .emoji,
  .icon {
    height: 1.5rem;
  }
}

.title4,
.text4 {
  font-size: 1.2rem;

  .emoji,
  .icon {
    height: 1.2rem;
  }
}

.small {
  font-size: 0.8rem;

  .emoji,
  .icon {
    height: 0.8rem;
  }
}

.emoji {
  display: inline-block;
  height: 1rem;
  vertical-align: text-top;
}

.waving-hand-emoji {
  animation: waving-hand 2s 1s infinite;
  transform: rotate(-6deg);
}

#footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@keyframes waving-hand {
  10%,
  30% {
    transform: rotate(6deg);
  }

  20% {
    transform: rotate(-6deg);
  }
}

@import "./button";

@import "./projects";
@import "./background";
@import "./landing";
@import "./about";
