#projects {
  .project {
    display: block;
    width: 100%;
    border: solid 1px #aaaa;
    border-radius: 0.25rem;
  }

  .techno {
    text-decoration: none;
    color: inherit;

    img {
      display: inline-block;
      height: 1rem;
    }
  }
}
