body {
  cursor: url(../images/cursors/auto.png) 6 2, auto;
}

a, button, .icon {
  cursor: url(../images/cursors/pointer.png)13 2, pointer;
}

p, code {
  cursor: url(../images/cursors/text.png) 16 16, text;
}