:root {
  --bg-color: black;
  --accent-color: white;
  --text-color: white;
  --k-color: var(--text-color);
  --light-shadow: 0 5px 10px #00000099;
  --clip-size: .5rem;
  --clip: polygon(var(--clip-size) 0%, calc(100% - var(--clip-size)) 0%, 100% var(--clip-size), 100% calc(100% - var(--clip-size)), calc(100% - var(--clip-size)) 100%, var(--clip-size) 100%, 0% calc(100% - var(--clip-size)), 0% var(--clip-size));
}
