/* RESET */

::selection {
	background-color: white;
	color: black;
}

* {
  box-sizing: border-box;
  outline: none;
  position: relative;
}

body {
  font-family: "Solway", monospace, serif;
  background-color: $bgColor;
  color: $textColor;
  margin: 0;
  padding: 0;
}

html {
  font-size: 20px;

  @media screen and (max-width: 900px) {
    font-size: 16px;
  }

  @media screen and (max-width: 600px) {
    font-size: 14px;
  }
}

/* SPACING */

.m {
  margin: $gap;
}

.p {
  padding: $gap;
}

.lm {
  margin: $gap * 2;
}

.lp {
  padding: $gap * 2;
}

.hm {
  margin-top: $gap;
  margin-bottom: $gap;
}

.hp {
  padding-top: $gap;
  padding-bottom: $gap;
}

/* UI COMPONENTS */

/* heading */

h1,
h2,
h3,
h4,
h5,
h6 {
  //text-align: right;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.8rem;
}

/* buttons */

.button {
  display: inline-block;
  border: solid $acColor 2px;
  background: $acColor;
  color: $textOnAccent;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  padding: $gap/2 $gap;
  border-radius: 6px;
  transition: color 0.2s, background-color 0.2s;

  &.big {
    font-size: 2rem;
  }

  &.outline {
    background: none;
    color: $acColor;
  }

  @media (hover: hover) {
    &:hover {
      background: $acColor;
      color: $bgColor;
    }

    &.outline:hover {
      background: $acColor;
      color: $bgColor;
    }
  }
}

/* container */

.container {
  max-width: 1200px;
  margin: auto;
}

/* Grid */

.grid {
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;

  .tile {
    width: calc(100% / 3);

    @media screen and (max-width: 1000px) {
      width: 50%;
    }

    @media screen and (max-width: 500px) {
      width: 100%;
    }

    .aspect-ratio {
      padding-bottom: 100%;
    }

    .content {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;

      border-radius: 1rem;
      overflow: hidden;

      .back {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        user-select: none;
      }
    }
  }
}