@import "./vars";
@import "./animations";

* {
  outline: none;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Solway", monospace;
  box-sizing: border-box;
  font-size: 18px;
}

.cursor {
  height: 6px;
  width: 6px;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  opacity: 0;
}
