html(lang="en")
  head
    meta(charset="UTF-8")/
    meta(name="viewport" content="width=device-width, initial-scale=1.0")/
    title Alexandre TRICHOT - Frontend Developer
    link(rel="stylesheet" href="./styles/main.scss")
  body
    #background.reveal
    header#landing.wrapper
      h1.title1.mx2.reveal
        | Hey, I'm
        br/
        | Alex
        img.emoji.waving-hand-emoji(src="images/emojis/waving-hand.png" alt="")/
      p.text2.mt2.mx2.reveal
        | A French
        |
        img.emoji(src="images/emojis/french-flag.png" alt="")
        |
        | Front Web Developer. Freelance coder
        |
        img.emoji(src="images/emojis/laptop.png" alt="")
        |
        | and remote worker.
        |
        img.emoji(src="images/emojis/earth.png" alt="")
    section#about.mt2.mb4
      .wrapper
        .box.mx2
          h2.title2.mb1.reveal About Me
          p.reveal <b>Improvement</b>, <b>adaptation</b> and <b>learning</b> are my watchwords, I love the challenge and I like to build new things.
            br/
            | I work with the latest Javascript technologies such as React, Vue, Node, GraphQL, etc. Webpack does not scare me and Typescript typing reassures me.
    section#projects
      .wrapper
        h2.title2.mx2.mb1.reveal My Projects
      #last_project.mt2
        .wrapper
          .box
            img(src="https://github.com/alexandretrichot/digital-impact-simulator/raw/master/screenshot.png" alt="digital-impact-simulator screenshot")/

    script(src="./ts/index.ts")
